[Desktop Entry]
Name=Help
Comment=Launch help browser
Exec=yelp help:xentaos
Icon=help-browser
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Core;Documentation;Utility;
MimeType=x-scheme-handler/ghelp;x-scheme-handler/help;x-scheme-handler/info;x-scheme-handler/man;
Keywords=help;guide;
